.clients__title {
    padding-top: 94px;
    padding-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.clients__icon {
    fill: #afb1b8;
  
    transition: fill var(--animation);
}
.clients__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}
.clients__item {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  
    
  transition: border var(--animation), border-radius var(--animation);

  &:hover {
  border-color: #2196f3;
  }
  &:hover .clients__icon {
  fill: #2196f3;
  }
  }
.clients__link {
  padding: 16px 32px;

  &:focus .clients__icon {
  fill: #2196f3;
  }
  &:focus {
  border-color: #2196f3;
  }
}
  
  

